{{!-- {{!-- <div class="container columns is-multiline">
    {{#each plainUserPosts as |post| }}
        <button class="dashboard-post-button button column is-10 is-offset-2" value="{{this.id}}">
            <div class="columns is-8">
                <div class="dashboard-post-title column is-4 has-text-left">
                    {{this.title}}
                </div>
                <div class="dashboard-post-date column is-4 is-offset-4 has-text-right">
                    {{this.date_created}}
                </div>
            </div>
        </button>
    {{/each}}
</div> --}}

<button class="button test">Test</button>

<script src="./js/userPost.js"></script>