<div class="card-container column is-8 is-offset-2">
    <div class="card">
        <div class="card-body">
            </div>
                <div class="field">
                    <label class="label">Edit  Title</label>
                    <div class="control">
                        <input class="input" id="edit-post-title" type="text" placeholder="{{posts.title}}">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Edit Post Content</label>
                    <div class="control">
                        <input class="input" id="edit-post-content" type="text" placeholder="{{posts.content}}">
                    </div>
                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-link" id="edit-post-submit">Submit</button>
                    </div>
                    <div class="control">
                        <a class="button is-link is-light" href="/dashboard">Cancel</a>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>

<script src="./js/editpost.js"></script>
